.App {
  text-align: center;
}
.card {
  background-color: #fff5e9;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  box-shadow: 6px 6px 11px #dedede, -6px -6px 11px #ffffff;
}

button {
  margin-left: 0.5rem;

  box-shadow: 2px 2px 5px #dedede, -2px -2px 5px #ffffff;
}
input {
  border: 2px solid black;
  flex-basis: 50%;
  padding: 1rem;

  outline: none;
}
.form-label {
  display: flex;
  justify-content: space-between;
}
p {
  font-size: 22px;
  font-weight: 700;
  color: #ffa600;
}
h1 {
  color: tomato;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
